#main-navbar{
    color: white;
    min-height: 18vh;
    font-size:15px;
  }

  body{
    margin:0;
    color:#6a6f8c;
    background-image: url('images/bg.png');
    font:600 16px/18px 'Open Sans',sans-serif;
    }


    #signup-button{
        position: relative;
        border-radius: 20px;
        display: inline-block;
        padding: 10px 25px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 13px;
        background-color: #fd5e19;
        overflow: hidden;
        transition: 0.2s;
      }

      #signup-button:hover{
        color: #021f3b;
        font-size: 15px;
        border-radius: 6px;
        background-color: #ffcab1;
        box-shadow: 0 0 10px #ff8248, 0 0 4px #ff8248,0 0 80px #ff8248;
        transition-delay: 0.1s;
        text-decoration: none;
        border-radius: 9px;
      }
      
