<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'newspage.css' %}" type="text/css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	
    <title>News today</title>
</head>
<body>
    	  
	<header>
		<div class="left_area">
			<h3>Your <span>Webpage</span> </h3>
		</div>
		<div class="right_area">
			<a href="#"  class="logout_btn">Logout</a>
		</div>
	</header>
	

	<div class="sidebar">
		<img src="" alt="">
		<h4>username</h4>
	   <a href="#"><i class="fas fa-user-circle"></i><span>Profile</span></a>
	   <a href="#"><i class="fas fa-cogs"></i><span>Settings</span></a>
	   <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
	   <a href="#"><i class="fas fa-info"></i><span>Info</span></a>
	   <a href="#"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
	</div>
	
</body>
</html>